html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-image: url("pong.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
canvas {
  display: block;
}

.button {
  text-align: center;
}

.button button {
  cursor: pointer;
}

#canvas-container {
  text-align: center;
  display: none;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 3rem;
  }
}

a {
  text-decoration: blink;
}

.btn {
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.btn:hover, .btn:focus {
  color: 
  #8a8989;
  outline: 0;
}

.third {
  border-color: #dad5a0;
  color: #8a8989;
  box-shadow: 0 0 40px 40px #dad5a0 inset, 0 0 0 0 #dad5a0;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.third:hover {
  box-shadow: 0 0 10px 0 #dad5a0 inset, 0 0 10px 4px #dad5a0;
}
