html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-image: url("pong.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
canvas {
  display: block;
}

.button {
  text-align: center;
}

.button button {
  cursor: pointer;
}